@font-face {
  font-family: "Poppins-Bold";
  src: local("Poppins-Bold"), url(./assets/fonts/Poppins-Bold.ttf) format("ttf");
}

@font-face {
  font-family: "Poppins-Medium";
  src: local("Poppins-Medium"),
    url(./assets/fonts/Poppins-Medium.ttf) format("ttf");
}

@font-face {
  font-family: "Poppins-Semibold";
  src: local("Poppins-Semibold"),
    url(./assets/fonts/Poppins-SemiBold.ttf) format("ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins-Regular"),
    url(./assets/fonts/Poppins-Regular.ttf) format("ttf");
}

body {
  font-family: "Poppins", sans-serif !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e8e8e8 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Input */

.ant-form-item-explain-error {
  font-size: 10px;
}

.ant-form-item-has-error
  :not(.ant-input-disabled):not(.ant-input-borderless).ant-input,
.ant-form-item-has-error
  :not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover {
  background-color: unset;
}

/*Modal*/

.ant-modal-footer,
.ant-modal-header,
.ant-modal-close-x {
  display: none;
}

.ant-modal-body {
  padding: unset;
}

.ant-modal-content {
  width: fit-content;
}
.ant-modal {
  width: fit-content !important;
}

/* .ant-modal-content {
    border-radius: 9px;
    box-shadow: 1px 5px 15px 1px #70525242;
} */

/* Menu */

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #f5e3e7;
}

.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid #ca0533;
}

.ant-menu-light .ant-menu-item:hover {
  color: #ca0533;
}

.ant-menu-item-selected {
  color: #ca0533;
}

.ant-layout-sider {
  background: unset;
}

.my-masonry-grid_column {
  width: 100% !important;
}

.ant-btn-group > .ant-btn:last-child:not(:first-child) {
  border-radius: 5px;
}

.ant-btn-icon-only {
  height: 25px;
}

/*Form Item*/

.ant-form-item-extra {
  font-size: 11px;
}
.ant-form-item-label > label {
  font-size: 13p;
}

.ant-picker {
  width: 100%;
  height: 38px;
}
